.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .cardsContainer {
    justify-content: center; /* Centra las tarjetas en dispositivos móviles */
  }
}
