.reset-button {
  padding: 10px 20px;
  background-color: #e74c3c; /* Fondo rojo */
  color: #fff; /* Texto blanco */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  height: 50%;
}

.reset-button:hover {
  background-color: #c0392b; /* Cambia el color al pasar el ratón */
}
