.searchResult {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.searchResult span {
  font-size: 18px;
  color: #c5d554;
  background-color: #2c8c34;
  padding: 8px 16px;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
